@import "tailwindcss";
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    font-family: 'Sora', sans-serif;
  }
  body {
    display: block !important;
  }
  